<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://payment4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/401df815-57bb-4cf6-97df-66a49df96897/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/Payment4</ResourceId>
    <UserName>$Payment4</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://payment4.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>